{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="{% url 'my_home' %}">Home</a>
  <a href="{% url 'blog_posts' %}">Our Blog</a>
  <a href="{% url 'our_services' %}">Our Services</a>
  
  <h1>This is the about Us page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias error laboriosam provident quasi tempora laudantium, vero corrupti maiores illo architecto dolore eveniet? Dignissimos molestias nam, nesciunt quae hic sit nemo!</p>
</body>
</html>
